body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:352px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10521 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:149px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u10521_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u10522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u10522 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:179px;
  width:35px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u10522_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u10523 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u10524 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:213px;
  width:16px;
  height:16px;
}
#u10524_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u10525 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:213px;
  width:6px;
  height:6px;
}
#u10525_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10526 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1890FF;
}
#u10527 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:213px;
  width:49px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1890FF;
}
#u10527_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u10528 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:213px;
  width:6px;
  height:6px;
}
#u10528_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u10529 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:260px;
  width:56px;
  height:22px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u10529_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u10530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u10530 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:300px;
  width:56px;
  height:22px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u10530_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u10531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u10531 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:379px;
  width:42px;
  height:22px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u10531_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u10532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u10532 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:418px;
  width:42px;
  height:22px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u10532_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u10533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u10533 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:339px;
  width:42px;
  height:22px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u10533_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
