body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u11876 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:193px;
  width:10px;
  height:10px;
}
#u11876_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u11877 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:193px;
  width:10px;
  height:10px;
}
#u11877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u11878 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:207px;
  width:10px;
  height:10px;
}
#u11878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u11879 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:207px;
  width:10px;
  height:10px;
}
#u11879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
